*{
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	padding: 20px 5px;
	background: #86f;
}

.caja {
	background: #025;
	height: 80px;
	width: 90px;
	margin: 20px;
	display:flex;
	color: #fff;
	/*transform: translateX(50px);*/
	transition: transform 1s
}

.caja:hover {
	transform: scaleX(1.8) translate(50px);
}

b {
	margin: auto
}